
#map {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 85%;
    left: 23%;
}

#query {
    position: absolute;
    left: 30%;
    bottom: 10%;
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 0.5rem 2rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 35%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
    text-align: center;
    background: transparent;
    font-size: 2em;
    border-bottom: 2px solid whitesmoke;
    color: whitesmoke;
    outline: none;
    height: 3%;
}

body {
    background: rgb(3,122,222);
    background: linear-gradient(113deg, rgba(3,122,222,1) 0%, rgba(3,229,183,1) 100%);
}

.tt_sm {
    visibility: hidden;
}

#map_access {
    visibility: hidden;
}

#score {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    text-align: center;
    left: 30%;
    bottom: 10.25%;
    font-size: 2.25em;
    color: #EAEFF2;
    opacity: .75;
    font-weight: bold;
}

