lord-icon
{
    z-index: 99;
    position: absolute;
    width: 12.5vw;
    height: 12.5vh;
    max-width: 55px;
    max-height: 55px;
    transform: rotate(-90deg);
}

#container {
    position: absolute;
    width: 100%;
    max-width: 1000px;
    margin: 0;
    position: absolute;
    top: 42.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#query {
    position: absolute;
    bottom: 10%;
    font-family: 'Roboto', sans-serif;
    padding: 0.5rem 2rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 25%;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
    text-align: center;
    background: transparent;
    font-size: 175%;
    border-bottom: 2px solid whitesmoke;
    color: whitesmoke;
    outline: none;
    height: 3%;
    left: 50%;
    transform: translate(-50%, 0);
}

body {
    background: #0261b1;
    background: linear-gradient(113deg, #0261b1 0%, #02b792 100%);
}

.tt_sm {
    visibility: hidden;
}

#map_access {
    visibility: hidden;
}

#score {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    text-align: center;
    margin: 0;
    top: 0;
    left: 100%;
    transform: translate(-100%);
    padding: 0.75vmax;
    font-size: 2.75vh;
    color: #EAEFF2;
    opacity: 1;
    font-weight: bold;
    border-style: solid;
    border-width: 0.425vh;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-left-radius: 25%;
}

.info {
    max-width: 200px;
    box-sizing: border-box;
    font-size: 1.25vh;
    position: absolute;
    right: 0;
    top: 0;
    border-style: solid;
    border-width: 0.425vh;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-left-radius: 20%;
    padding: 0.25vw;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    color: #EAEFF2;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-bottom: 0px;
}

.score {
    line-height: 1;
    left: 50%;
    margin-left: 0.5vw;
    margin-right: 1vw;
    text-align: center;
}

.timer {
    line-height: 1;
    right: 50%;
    margin-left: 1vw;
    margin-right: 0.5vw;
    text-align: center;
}

hr {
    height: 6.5vh;
    width: 0.125vw;
    background-color: whitesmoke;
    box-sizing: content-box;
    margin-bottom: 0%;
    margin-top: -5px;
}
