lord-icon
{
    position: absolute;
    width: 15vw;
    height: 15vh;
    max-width: 40px;
    max-height: 40px;
    transform: rotate(-90deg);
}

#container {
    position: absolute;
    width: 100%;
    max-width: 1000px;
    margin: 0;
    position: absolute;
    top: 42.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#query {
    position: absolute;
    bottom: 10%;
    font-family: 'Roboto', sans-serif;
    padding: 0.5rem 2rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 50%;
    max-width: fit-content;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
    text-align: center;
    background: transparent;
    font-size: 175%;
    border-bottom: 2px solid whitesmoke;
    color: whitesmoke;
    outline: none;
    height: 3%;
    left: 50%;
    transform: translate(-50%, 0);
}

body {
    background: rgb(3,122,222);
    background: linear-gradient(113deg, rgba(3,122,222,1) 0%, rgba(3,229,183,1) 100%);
}

.tt_sm {
    visibility: hidden;
}

#map_access {
    visibility: hidden;
}

#score {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    text-align: center;
    margin: 0;
    left: 50%;
    bottom: 1.5vh;
    transform: translate(-50%);
    font-size: 175%;
    color: #EAEFF2;
    opacity: 1;
    font-weight: bold;
    border-style: solid;
    padding: 0.75vh;
    border-radius: 1vh;
}